body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffb38e;
    line-height: 1.6;
}
    header{
        background-color: #9b7ebd;
        color: white;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    header h1{
font-size: 2rem;
margin-bottom: 0,5rem;
    }

    nav{
        background-color: #d4bee4;
    }
    <title{display: flex;}

    nav ul{
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0.2;
    }
     nav ul li a{
        color: #ffffff;
        text-decoration: none;
        
     }